/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
    font-size: 12pt;
}

body {
    background-color: lightpink;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(136, 225, 179);
    border-bottom: 2px solid black;
}

nav h1 {
    font-size: 36px;
    font-weight: bold;
    background-image: url("/static/images/logo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 50px;
    color: black;
    text-shadow: 5px 5px 5px white;
}

nav a {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2px 5px;
    padding: 2px 5px;
    color: black;
    text-decoration: none;
    text-shadow: 4px 4px 4px white;
}

nav a:hover {
    color: white;
    text-shadow: 2px 2px 2px black;
}

main {
    margin-top: 10px;
}

.grid-container {
    display: grid;
    place-items: center;
}

canvas {
    border: 5px solid lightseagreen;
    border-radius: 1rem;
    box-shadow: 0 0 10px 5px lightskyblue;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.headline-h1 {
    display: inline-flex;
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 10px;
    padding: 5px 10px;
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

figure>img {
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
}

figure>figcaption {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
}
