/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

html {
    font-size: 12pt;
}

#display {
    position: absolute;
    top: 0;
    left: 0
}

